<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preload" href="https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/notes.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>edunote</title>
</head>
<body>
    <nav class="navbar">
        <h1>edunote</h1>
        <a class="nav-item" href="/ask" style="margin-left: 800px;">ask</a>
        <a class="nav-item" href="/notes">notes</a>
        <a class="nav-item" href="/recordings">recordings</a>
        <a class="nav-item" href="/profile" style="margin-right: 100px;">profile</a>
    </nav>
    <div class="notes">
        <h1>Recommended videos for <span style="color: #c3073f"><%- note.content %></span></h1>
        <div class="note-grid">
            <div class="inline">
                <div class="note-card" style="width: 400px;padding-top: 20px">
                    <iframe width="390" height="265" src="https://www.youtube.com/embed/p_di4Zn4wz4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p style="padding-left: 23%">Differential Equation Class 1</p>
                </div>
                <div class="note-card" style="width: 400px;padding-top: 20px">
                    <iframe width="390" height="265" src="https://www.youtube.com/embed/ly4S0oi3Yz8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p style="padding-left: 23%">Differential Equation Class 2</p>
                </div>
                <div class="note-card" style="width: 400px;padding-top: 20px">
                    <iframe width="390" height="265" src="https://www.youtube.com/embed/ToIXSwZ1pJU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p style="padding-left: 23%">Differential Equation Class 3</p>
                </div>
                <div class="note-card" style="width: 400px;padding-top: 20px">
                    <iframe width="390" height="265" src="https://www.youtube.com/embed/r6sGWTCMz2k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p style="padding-left: 23%">Differential Equation Class 4</p>
                </div>
                <div class="note-card" style="width: 400px;padding-top: 20px">
                    <iframe width="390" height="265" src="https://www.youtube.com/embed/v0YEaeIClKY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p style="padding-left: 23%">Differential Equation Class 5</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>