<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preload" href="https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/notes.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <style>
        button {
            height: 40px;
            width: 100px;
            background-color: #1A1A1D;
            border: none;
            border-radius: 5px;
            border-width: 0.7px;
            border-style: solid;
            border-color: #c3073f;
            color: white;
            font-family: 'Inter';
            font-size: 1rem;
            margin-top: 0rem;
            font-size: 1.1rem;
            font-weight: 500;
        }
        
        button:focus {
            outline: none;
        }
        
        button:hover {
            cursor: pointer;
            background-color: #c3073f;
        }
    </style>
    <title>edunote</title>
</head>
<body>
    <nav class="navbar">
        <h1>edunote</h1>
        <a class="nav-item" href="/ask" style="margin-left: 800px;">ask</a>
        <a class="nav-item" href="/notes">notes</a>
        <a class="nav-item" href="/recordings">recordings</a>
        <a class="nav-item" href="/profile" style="margin-right: 100px;" id="active">profile</a>
    </nav>
    <div class="notes">
        <h1>Profile</h1>
        <h3>@<%- user.username %></h3>
        <h3><%- user.name %></h3>
        <a href="/logout"><button>Logout</button></a>
    </div>
</body>
</html>