<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preload" href="https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css" />
    <title>edunote</title>
</head>
<body>
    <div class="login-container">
        <h2>Register</h2>
        <%- include('./partials/messages') %>
        <form method="POST" action="/register">
            <input placeholder="name" name="name"><br><br>
            <input placeholder="username" name="username"><br><br>
            <input placeholder="password" type="password" name="password"><br><br>
            <button type="submit">Register</button>
        </form>
        <h4>Already have an account?<span><a href="/login" style="color: #c3073f;text-decoration: none"> Login</a></span></h4>
    </div>
</body>
</html>